[2018-10-23 15:54] jalapic opened #2 "installation issue"
When installing I did select "add to PATH" for both `CMake` and `Rtools`.

It does seem that I have path issues...

This is trying to install `trackR`

[code]

When trying to open RopenCVLite by itself:

[code]

[2018-10-23 16:15] sjmgarnier commented on #2
@jalapic Can you check that "C:/Rtools/mingw_64/bin/g++.exe" exist on your computer? Could it be that it was installed at a different location on your C drive?

[2018-10-23 16:29] jalapic commented on #2
it appears to be in `C:\RBuildTools\3.4\mingw_64\bin`

[2018-10-23 16:56] sjmgarnier commented on #2
This is weird. I just ran the installer on my Windows testing machine, and the default path for the installation is C:\Rtools. Did you modify this by hand? I need to figure out a way to detect automatically where Rtools is installed on Windows.

[2018-10-23 16:57] jalapic commented on #2
No - no manual change.  I'm going to try on another couple of machines to see where it puts them.  We tried on another machine and got 60% through but hit another error.  Will work on both and file an issue this afternoon.

[2018-10-23 17:00] sjmgarnier commented on #2
Argh, I hate windows. It works fine on my testing windows machine and on appveyor. But of course, something will go wrong on another Windows machine.

[2018-10-23 18:50] ty14 opened #3 "installation issue"
I installed both CMake and Rtools making sure to select "add to PATH". But when installing trackR it only gets to 60%.

Here is some of the output when trying to install trackR:

[code]

[2018-10-24 12:46] helderhugo opened #4 "Not being able to install"
##### System information (version)

- trackR => 0.1
- Rvision => 0.3.1
- ROpenCVLite => 0.1.34.3
- Operating System / Platform => Mac OS Mojave
- R => 3.5.1
- CMake => 3.12
##### Detailed description

After pre-installing the requirements, I'm not able to install trackR itself. After 'installing vignettes' and 'testing if installed package can be loaded' I get the following errors:
[code]
##### St

[2018-10-24 12:56] sjmgarnier commented on #4
@helderhugo This is weird. Rvision should have been automatically installed. Let me check.

[2018-10-24 13:14] sjmgarnier commented on #4
@helderhugo Try again. It works on my Macbook now.

[2018-10-24 13:18] helderhugo commented on #4
I still got the same error... Do you think it could be a problem with cmake on my machine?

[2018-10-24 13:20] sjmgarnier commented on #4
@helderhugo This is weird. I could replicate your problem but then made a tiny change that solved it here. Do you have the very latest version of devtools installed? There has been some changes to it that I think were responsible of this error.

[2018-10-25 01:37] sjmgarnier commented on #3
@ty14 This is unfortunately a known problem with the compiler on Windows (gcc/mingw) not handling well spaces in the path (see swarm-lab/ROpenCVLite#6). There is a space between "Tyler" and "Marie" in your username, which translates in a space in the path to the installation folder. The only workaround I know of is to create another user with no space in her username (e.g. tylermarie). So far, I h

[2018-10-25 01:37] #3 closed

[2018-10-25 01:38] sjmgarnier commented on #2
@jalapic Any luck?

[2018-10-25 10:31] helderhugo commented on #4
@sjmgarnier I did install the last versions of R, CMake and devtools (via RStudio). I also tried on my iMAC: everything goes well until the last part, in which there is a test to check '**if Rvision can be loaded**'. Then I got the exactly same error as before...

Any ideas how to solve it?

[2018-10-25 11:40] sjmgarnier commented on #4
@helderhugo Ok, this is becoming very strange. Just to double check everything:

1. You have the latest version of R (3.5.1)
2. You have the latest version of devtools (2.0.0)
3. You have the latest version of Cmake (3.12.3)
4. You have updated all your packages to their latest version and restarted R/RStudio. This is mostly to make sure nothing weird is loaded in memory while trying to install tr

[2018-10-25 15:57] helderhugo commented on #4
@sjmgarnier 1, 2, 3, 4 are checked, I have all these versions (I removed completely R from both machines and installed it from scratch).

1. The package ROpenCVLite is installed on the system. I can load it with `library(ROpenCVLite)`.
2 I'm not able to install Rvision: installation starts well but after the step ** **testing if installed package can be loaded** I get the same error:

**Error: pac

[2018-10-25 16:28] helderhugo commented on #4
@sjmgarnier I did... I trying something else now, and I'll let you know whether I have success or not. (All other swarmlab packages work just fine)

[2018-10-25 16:29] sjmgarnier commented on #4
@helderhugo Just to make sure, you have the latest command line tools for Mac, right?

[2018-10-25 18:45] ty14 opened #5 "New installation issue"
When trying to install trackR on a new desktop I ran into a new error I did not see before.

I made sure to install CMake and Rtools,  selecting "add to PATH" for both.

[code]

[2018-10-25 18:52] sjmgarnier commented on #5
@ty14 This is weird. What command did you use to install the package?

[2018-10-25 19:05] ty14 commented on #5
@sjmgarnier I used: devtools::install_github("swarm-lab/trackR")

This is trying to install trackR:
[code]

[2018-10-25 19:08] sjmgarnier commented on #5
@ty14 When devtools asks which package you would like to update, do not reply "3". Reply either "1 2" or "4". By replying "3", you ask devtools to look for Rvision and ROpenCVLite on CRAN, but they are only available through GitHub (for now at least).

[2018-10-25 19:59] ty14 commented on #5
@sjmgarnier  I used "1, 2" and still get the error.

[code]

[2018-10-25 20:04] sjmgarnier commented on #5
@ty14 This is a different error now. It looks like there has been a problem downloading the source code of OpenCV (it downloaded 124 KB of data instead of 85.5 MB). Probably some sort of internet connection issue during the downloading process. Can you try again?

[2018-10-25 20:29] sjmgarnier commented on #5
@ty14 I don't see a problem. It says that the installation is finished (`* DONE (trackR)`). You should be able to load the package with `library(trackR)`.

[2018-10-25 20:36] ty14 commented on #5
@sjmgarnier It does work...  I just saw the error and never tried to load the package. Thank you for communicating with me while I figured this out. You can close the issue. Thanks again!

[2018-10-29 14:43] helderhugo commented on #4
@sjmgarnier Yes I updated it before trying to install the package. No luck with Macs! I'm trying in a windows machine I have, just in case, but if doesn't work unfortunately I'll have to give up :/

[2018-10-29 14:51] sjmgarnier commented on #4
@helderhugo This is incomprehensible. I develop on Mac. If there is a platform on which it shouldn't have any problem installing, it's that one. Can you chat now? I have about 30 minutes. If yes, DM me on Twitter, I'll send you a link.

[2018-10-29 15:12] sjmgarnier commented on #4
@helderhugo After reading more carefully your first message, I think I might have a clue what is happening here. After installing ROpenCVLite, what do the following commands return?

`ROpenCVLite::opencvConfig("libs)`

`ROpenCVLite::opencvConfig("cflags)`

This (`Library not loaded: @rpath/libopencv_dnn.3.2.dylib`) makes me think that you have an older version of OpenCV installed on your machine t

[2018-10-29 15:42] helderhugo commented on #4
Sorry @sjmgarnier I was off for a bit.

This is what I get:

[code]

[2018-10-30 02:57] sjmgarnier commented on #4
@helderhugo Ok. It looks like ROpenCVLite is correctly installed. What's not clear to me is why when installing Rvision it is trying to link against OpenCV 3.2 (ROpenCVLite installs OpenCV 3.4.1). Can you show me the output of `ROpenCVLite::opencvVersion()`? And can you show me the exact command lines you have used to run the installation of Rvision? And also the entire console output?

[2018-10-31 08:29] helderhugo commented on #4
@sjmgarnier OK. So here it is:

[code]
This is the command I used for installing Rvision by itself, after the first installation of trackR didn't work. I also include the entire console output:

[code]

[2018-10-31 12:29] sjmgarnier commented on #4
@helderhugo This is a very different error from the one you originally posted. I suspect that you're using a non-standard compiler (like clang installed via homebrew instead of the standard clang from Mac OS Xcode; or maybe you have a version of Xcode that is too old for your current system). If you open a terminal and type `clang --version`, what's the output?

[2018-10-31 12:35] sjmgarnier commented on #4
@helderhugo Also, it could be an issue with the R version that you are using. Did you install CRAN R or one from Homebrew? It's possible the R version from Homebrew is compiled using gcc, which would cause this kind of problems when trying to compile with the standard clang compiler on Mac. It looks like this is the issue for several packages using Rcpp (Rvision depends on it) when Rcpp is compile

[2018-10-31 12:38] sjmgarnier commented on #4
@helderhugo On this note, are you using a custom ~/.R/Makevars? If yes, can you post its content here.

[2018-10-31 12:41] helderhugo commented on #4
Here is the clang:

[code]

[2018-10-31 12:45] helderhugo commented on #4
I installed R from CRAN. I just used homebrew to install python and OpenCV in a virtual environment.

[2018-10-31 12:47] helderhugo commented on #4
Also @sjmgarnier I'm not using a custom ~/.R/Makevars

[2018-10-31 12:48] sjmgarnier commented on #4
@helderhugo We have different versions of clang. The rest seems to be the same between our two systems. I'm going to install your version of clang, see if I can reproduce the error.

[2018-10-31 13:04] helderhugo commented on #4
Alright! If that's the problem I try to install your version.

[2018-10-31 14:13] sjmgarnier commented on #4
@helderhugo I was using clang provided by Command Line Tools, which was apparently an older version than that provided with Xcode (why would they do this? no idea). I removed it, installed the latest version of Xcode (with clang-1000.11.45.5) and I'm still able to compile and install Rvision without problem. Your version of Xcode is slighly out of date (you have clang-1000.11.45.2), but I doubt no

[2018-11-05 13:22] MandaFry opened #6 "Trouble selecting a video"
##### System information (version)
- trackR => 0.1
- Rvision => 0.3.1
- ROpenCVLite => 0.1.34.3
- Operating System / Platform => Windows 10 64bit
- R => 3.5.1
- CMake => 3.12
-->

##### Detailed description

After installing and using 'trackR()' the window pops up to select a video file but I get the following message;

# trackR()

Listening on http://127.0.0.1:6907
warning: Error opening file (/b

[2018-11-05 13:53] sjmgarnier commented on #6
@MandaFry Looks like a codec issue. Can you try with the video at this address and let me know what happens? https://github.com/vivekhsridhar/tracktor/blob/master/videos/termite_video.mp4?raw=true

[2018-11-05 13:58] MandaFry commented on #6
@sjmgarnier unfortunately a similar thing happens. When I tried with your video I get;
Listening on http://127.0.0.1:6907
warning: Error opening file (/build/opencv/modules/videoio/src/cap_ffmpeg_impl.hpp:856)
warning: C:/Users/789826/Documents/Desktop/termite_video.mp4 (/build/opencv/modules/videoio/src/cap_ffmpeg_impl.hpp:857)

[2018-11-05 14:10] sjmgarnier commented on #6
@MandaFry Thanks. I can reproduce the error on a Windows machine. I think the problem is with the way Windows handles paths to files, which is different from what Mac and Linux do. I'll try to work on a fix asap.

[2018-11-05 14:42] #6 closed

[2018-11-05 14:49] MandaFry commented on #6
@sjmgarnier thank you very much for your help, and for helping identifying the issue. I have reinstalled trackR and it has now loaded the video, thank you :)

[2018-11-05 14:49] sjmgarnier commented on #6
@MandaFry No problem. See you at the next bug :-)

[2018-11-07 01:09] rkadrian opened #7 "Installation error"
##### System information (version)
- trackR => 0.1
- Rvision => N/A (didn't get that far)
- ROpenCVLite => N/A (see below)
- Operating System / Platform => Mac OS Mojave
- R => 3.5.1 (RStudio 1.1.463)
- CMake => 3.12.4

##### Detailed description
Forgive me if I have made any mistakes in this message--I'm a GitHub newb. I enjoy R but I'm not the most literate with the nuts and bolts of software.

[2018-11-07 01:19] sjmgarnier commented on #7
@rkadrian It looks like R cannot find cmake. There are multiple reasons that can explain this, so let's start by clearing up the obvious. Can you please quit R and RStudio, and then reboot your computer. Once this is done, open a terminal and type `cmake --version`. If the result is something along the lines of `cmake version 3.12.4`, then open RStudio and try reinstalling trackR. If `cmake --vers

[2018-11-07 01:36] rkadrian commented on #7
Yes, it definitely cannot find cmake. Trying "cmake --version" in terminal yields "command not found". CMake is sitting in my application folder and opens an interface when I run it. Should I move the application elsewhere? Thank you!

[2018-11-07 01:44] sjmgarnier commented on #7
@rkadrian How did you install cmake? It looks like it wasn't added to the path.

[2018-11-07 01:54] sjmgarnier commented on #7
@rkadrian If you used the installer distributed on cmake.org, it looks like you need to do the following (according to: https://stackoverflow.com/questions/30668601/installing-cmake-command-line-tools-on-a-mac). Open a terminal and type:

`sudo "/Applications/CMake.app/Contents/bin/cmake-gui" --install`

[2018-11-07 04:54] rkadrian commented on #7
That fixed the issue--I did use the installer from cmake.org. Installation is complete!! Thanks so much! My ignorance showed: I clearly did not know the correct question to pose to Google to fix the (simple) issue.

[2018-11-07 04:54] #7 closed

[2018-11-07 05:24] rkadrian opened #8 "Video loads upside-down"
##### System information (version)
- trackR => 0.1
- Rvision => 0.3.1
- ROpenCVLite => 0.1.34.3
- Operating System / Platform => Mac OS Mojave
- R => 3.5.1
- CMake => 3.12.4

##### Detailed description

I am loading a .MOV video originally taken on my iPhone 6 under the slo-mo function. This isn't a major issue, but the video appears to load upside-down. When I play the video elsewhere, I don't se

[2018-11-07 06:05] rkadrian opened #9 "PNG mask upload error"
##### System information (version)
- trackR => 0.1
- Rvision => 0.3.1
- ROpenCVLite => 0.1.34.3
- Operating System / Platform => Mac OS Mojave
- R => 3.5.1
- CMake => 3.12

##### Detailed description

I have since solved this problem, but it's worth reporting regardless. I created a mask in Photoshop, using the background image that trackR created as a template to ensure that the dimensions were c

[2018-11-07 12:37] sjmgarnier commented on #9
@rkadrian This is most likely because Photoshop saved by default the alpha (transparency) channel in the png file. The result is that your background image has 4 channels (R, G, B, alpha), while each frame of your video has only 3 (R, G, V). jpg doesn't have an alpha channel, that's why it worked.

[2018-11-07 12:37] #9 closed

[2018-11-07 12:39] sjmgarnier commented on #8
@rkadrian This is weird. Can you send me a video sample that causes that problem?

[2018-11-07 14:37] sjmgarnier commented on #7
@rkadrian Glad this fixed your problem. I will add this to the installation instructions for ROpenCVLite.

[2018-11-08 00:24] #8 closed, assigned to nobody

[2018-11-22 00:13] lukeholman opened #10 "What video formats are supported?"
Hi there,

I'm just getting started with Trackr. I first tried a .avi video, and it didn't work so I converted it to .mp4 using HandBrake. The video now loads up, but when I try to estimate the background, I get the error

[code]

I could send the video if you like, but before I figure that out, could I please get some guidance on what video types are supported? I don't know a lot about video enco

[2018-11-22 00:20] sjmgarnier commented on #10
@lukeholman Yes, please send a sample video, this would be helpful to diagnose the problem. Also, please provide the following info about your system:

- trackR => :grey_question:
- Rvision => :grey_question:
- ROpenCVLite => :grey_question:
- Operating System / Platform => :grey_question:
- R => :grey_question:

To answer your question briefly, the type of video supported depends entirely on your

[2018-11-22 03:47] lukeholman commented on #10
Sure thing, here is a OneDrive link that should hopefully work (it's 210MB):

https://unimelbcloud-my.sharepoint.com/:v:/g/personal/luke_holman_unimelb_edu_au/Eb-y8VnbPltGgEPG_eQagN4BusFslSDiBYSUfvLUyanP1g?e=54hU5X

And my sessionInfo():

[code]
Rvision version is: 0.1.0.

[2018-11-22 12:20] sjmgarnier commented on #10
@lukeholman I could not reproduce the bug. The video loads and plays perfectly fine on my computer with a similar configuration, and I can estimate the background without problem. What parameters did you use for the background estimation? Have you modified some of the video tab parameters? And finally, when did you install trackR, Rvision and ROpenCVLite (trying to see if I modified the code since

[2018-11-23 03:17] lukeholman commented on #10
Hi Simon,

I installed everything two days ago, so I should have the newest versions
pretty much. I used the default parameters - I just hit the background
estimation button without changing the sliders.

About zooming in, my eventual plan is to film loads of dishes at once and
then use a bunch of masks, so I wanted to see if the results were good
enough at this distance. But thanks for the tip!

[2018-11-23 12:38] sjmgarnier commented on #10
@lukeholman I'm afraid I cannot reproduce this bug on my Mac. Can you try the following?

[code]

Does this open a graphic device and display the first frame of the video?

Regarding zooming in, given the amount of touching and overlapping between the bees, it might be a bit tricky to calibrate the blob detection. Happy to chat with you on the phone about this if you want to.

[2018-11-24 06:25] Gerrit79 opened #11 "Cannot launch trackR"
##### System information (version)
- trackR => 0.1
- Operating System / Platform => Mac OS Mojave
- R => 3.5.1
- CMake => 3.12

##### Detailed description

When trying to launch trackR, I get the following error message:
Error in container: could not find function "container"

[2018-11-25 04:40] Gerrit79 commented on #11
ROpenCVLite => 0.1.34.3
Rvision => 0.3.1
devtools => 2.0.1

[2018-11-25 23:47] Gerrit79 commented on #11
shiny => 1.2.0

[2018-11-25 23:50] sjmgarnier commented on #11
@Gerrit79 Ok, this is getting a bit confusing. It looks like we have essentially the same setup, but I cannot reproduce this error here. Just to make sure, are all your packages up-to-date?

[2018-11-25 23:53] sjmgarnier commented on #11
@Gerrit79 And again just to make sure, do you have a customized .Rprofile?

[2018-11-26 02:30] Gerrit79 commented on #11
Yes, all packages are up-to-date. My profile is not customized.

This is the full error message:

Loading required package: shiny

Attaching package: ‘Rvision’

The following objects are masked from ‘package:graphics’:

    frame, image

The following objects are masked from ‘package:base’:

    mean, merge, split, sum

Attaching package: ‘dplyr’

The following objects are masked from ‘package:sta

[2018-11-27 14:47] sjmgarnier commented on #11
@Gerrit79 Still digging to find the source of this problem. It's a big complicated since I don't seem to be able to reproduce it on any of my setups.

The only place where a container function is explicitly called in trackR's code seems to be:

[code]

Apparently `p` is provided by shiny through htmltools. Is htmltools installed on your system? If yes, what version do you have?

Since it seems to

[2018-11-28 01:21] Gerrit79 commented on #11
I removed and reinstalled trackR, shiny and htmltools (0.3.6), but keep running into the same error message.
Thanks for your help by the way!

[2018-12-14 04:09] jameswaters opened #12 "Saving/loading background image not working; also can't load mask image"
##### System information (version)

- trackR => 0.1.1
- Operating System / Platform => Mac OS X 10.9.5
- R => 3.3.3
- CMake => 3.13.1

##### Detailed description

Video loaded and background estimated. On clicking "Save background file", am prompted with a dialog box to choose a directory and file name for the .png file. Despite selecting an appropriate directory and file name, after clicking "Sav

[2018-12-14 19:35] jameswaters commented on #12
This might be the most up to date version I can run on Mac OS 10.9.5.
Really didn’t want to have to upgrade the OS... but yes, i’ll have to try
on a newer machine.

On Fri, Dec 14, 2018 at 10:28 AM Simon Garnier <notifications@github.com>
wrote:

[2019-03-15 14:26] LMAllenJacobson opened #13 "TrackR crashes: when I add a mask"
##### System information (version)
- trackR => 0.20
- Rvision => 0.3.4
- ROpenCVLite => 0.2.40.1
- devtools => 2.0.1
- shiny => 1.2.0
- Operating System / Platform => macOS Mojave 10.14.3
- R => 3.5.2
- CMake => 3.12

##### Detailed description

When I add a mask, trackR crashes and gives the error listed below. My video and mask file types are MOV and PNG. The infor for the files are the followin

[2019-03-15 14:29] sjmgarnier commented on #13
@LMAllenJacobson This is because your mask has an alpha channel. I will fix this in a future release, but in the meantime you can save your png mask without the alpha channel, this should do the trick.

[2019-03-15 14:34] LMAllenJacobson opened #14 "TrackR crashes: when I estimate background"
##### System information (version)
- trackR => 0.20
- Rvision => 0.3.4
- ROpenCVLite => 0.2.40.1
- devtools => 2.0.1
- shiny => 1.2.0
- Operating System / Platform => macOS Mojave 10.14.3
- R => 3.5.2
- CMake => 3.12

##### Detailed description

Sometimes, trackR crashes when I estimate the background. This seems to be a problem when I'm using larger video files and/or increasing the number of fra

[2019-03-15 14:37] sjmgarnier commented on #14
@LMAllenJacobson Would you mind sharing with me a video for which you get this issue?

[2019-03-15 14:39] sjmgarnier commented on #12
@jameswaters Any luck? Can I close this issue and blame it on your out of date R installation? ;-)

[2019-03-15 14:45] LMAllenJacobson commented on #14
sure. How should I send, e.mail?

[2019-03-15 14:46] sjmgarnier commented on #14
@LMAllenJacobson Yes, an email works for me. Thanks.

[2019-03-15 15:19] LMAllenJacobson commented on #13
I duplicated the file and saved without the alpha channel. Here are the details of the updated mask file (I'm using the same video), and the new error:

**Mask**
Kind: PNG image
Size: 39,894 bytes (41 KB on disk)
Dimensions: 1080 × 1920
Color space: RGB
Color profile: sRGB IEC61966-2.1
Alpha channel: No

[code]

[2019-03-15 15:47] sjmgarnier commented on #13
@LMAllenJacobson Can you send me this image as well? Thanks.

[2019-03-15 16:55] sjmgarnier commented on #13
@LMAllenJacobson Ok, so the issue is that OpenCV does seem to require additional info to be able to orient properly videos taken from cell phones (I'm guessing this has to do with the phone recording its orientation - portrait or landscape - when shooting). So, if you open the video with Quicktime to extract an image, it will retain this recorded orientation (in your case, portrait), but this info

[2019-03-15 17:17] LMAllenJacobson commented on #13
Fixed! Thanks

[2019-03-15 17:17] #13 closed

[2019-03-19 07:41] #12 closed

[2019-03-19 07:42] #14 closed

[2019-03-20 10:14] henry090 commented on #11
Hi, I have the same issue.
[code]

[2019-03-20 10:18] sjmgarnier commented on #11
@henry090 What are the version numbers of the following:
- trackR => :grey_question:
- Rvision => :grey_question:
- ROpenCVLite => :grey_question:
- devtools => :grey_question:
- shiny => :grey_question:
- Operating System / Platform => :grey_question:
- R => :grey_question:
- CMake => :grey_question:

[2019-03-20 10:23] henry090 commented on #11
@sjmgarnier I have just updated everything (libraries) through Rstudio and it is working! =)

[2019-03-20 10:24] sjmgarnier commented on #11
@henry090 You probably just had an old version of shiny. I will close this issue now.

[2019-03-20 10:24] #11 closed

[2019-03-23 19:09] antoninocusumano opened #15 "visualize the tracked trajectory and manually edit wrong points"
Hi Simon Garnier
First of all, I want to congratulate you for this wonderful package for R. It is great! At the moment I am using it to track the movement of an insect in an open arena and it works very well. It would be great if it would be possible to edit the coordinates of the tracked object to correct mistakes. In fcat when the CSV file is generated and I plot the coordinates in R, I see some

[2019-03-23 19:13] sjmgarnier commented on #15
@antoninocusumano I'm working on it. However, I suspect your issue could be resolved by changing the look back and maximum distance parameters in the tracking tab. What values did you use?

[2019-03-23 19:56] antoninocusumano commented on #15
Nice to know that you are already working on it! I use the default parameters (look back =5; maximum distance=30) but I can start playing with the settings to see if the issue can be fixed in this way. Thank for the suggestion

[2019-03-24 15:35] sjmgarnier commented on #15
@antoninocusumano My guess is that if you reduce the maximum distance, you'll get rid of these "spikes".

[2019-03-25 07:54] antoninocusumano commented on #15
Thanks.
For me you can close the issue
best
Antonino

Il 24.03.2019
16:35 Simon Garnier ha scritto:

that if you reduce the maximum distance, you'll get rid of these
"spikes".

mentioned.

mute the thread [3].

Con OpenStar hai Giga, SMS e i minuti che vuoi da 4,99€ al mese, per sempre. Cambi gratis quando e come vuoi e in più hai 6 mesi di INFINTY! http://tisca.li/myopen

[2019-03-25 10:41] #15 closed

[2019-03-25 12:35] ndmtzn opened #16 "pop-up window: ERROR: Unknown module."
##### System information (version)
- trackR => 0.3.1
- Rvision => 0.3.4
- ROpenCVLite => 0.2.40.1
- devtools => 2.0.1
- shiny => 1.2.0
- Operating System / Platform => Win10 64 bit (v1803)
- R => 3.5.3
- R-Studio=> 1.1.463
- CMake => 3.14

##### Detailed description

After a the successful (?) installation of the necessary packages, I tried to run either of the following lines:

trackR("classic")

[2019-03-25 12:42] ndmtzn commented on #16
Screenshot of the pop-up window in attachement
![Clipboard01](https://user-images.githubusercontent.com/48906750/54920533-c0397d00-4f03-11e9-8bfb-bff4792b09f1.jpg)

[2019-03-25 12:55] sjmgarnier commented on #16
@ndmtzn I will need to find a Windows machine to see if I can reproduce this problem (no issue on my Mac). In the meantime, what's the output of the following command?

[code]

[2019-03-25 12:58] ndmtzn commented on #16
Thank you for looking into this.
The output is as following:

[1] "C:/R/R-3.5.3/library/trackR/modules"

[2019-03-25 13:02] sjmgarnier commented on #16
@ndmtzn I think I found the issue (it looks like on Windows, the "/" after "modules" is dropped in the output). Can you reinstall trackR and try again?

[2019-03-25 13:13] ndmtzn commented on #16
I tried to reinstall trackR with the line:

devtools::install_github("swarm-lab/trackR", force=T)

The issue still persist.

[2019-03-25 13:14] sjmgarnier commented on #16
@ndmtzn Oops, I forgot to push to the repo. Try now.

[2019-03-25 13:16] ndmtzn commented on #16
It works! Thanks for the fast feedback.

[2019-03-25 15:06] #16 closed

[2019-06-06 18:02] goldenbrowntoast opened #17 "trackR installation issues"
- trackR => 0.3 (attempted)
- Rvision => N/A
- ROpenCVLite => 0.3.410
- devtools => 2.0.2
- shiny => N/A
- Operating System / Platform => Mac OS Sierra
- R => 3.4.4
- CMake => 3.14.5

##### Detailed description

<I'm pretty new to R programming, so I'm sorry if my question is relatively dumb. I have ROpenCVLite installed and have gone through the long process to install OpenCV. Once I try to insta

[2019-06-06 18:26] sjmgarnier commented on #17
@goldenbrowntoast It looks like you're using an old R version. Can you try with the latest version?

[2019-06-06 23:51] goldenbrowntoast commented on #17
Haha, yeah, this got me through that error. I can't believe I didn't notice the "Rvision for 3.5". Sorry about that.

[2019-06-06 23:51] #17 closed

[2019-09-23 06:18] rkadrian opened #18 "RVision installation issue"
##### System information (version)
- trackR => N/A
- Rvision => N/A
- ROpenCVLite => 0.3.410
- devtools => 2.2.0
- shiny => 1.3.2
- Operating System / Platform => Mac OS Mojave
- R => 3.6.1 (RStudio 1.2.1578)
- CMake => 3.15.3

##### Detailed description

I am returning to trackR after some months spent working on other projects. The program loaded successfully but crashed several times while I at

[2019-09-23 12:42] sjmgarnier commented on #18
@rkadrian It looks like your developer toolchain is missing or incomplete or outdated. See https://github.com/RcppCore/Rcpp/issues/922.

[2019-09-25 01:01] rkadrian commented on #18
After checking out that link and doing some googling, I ended up downloading Command Line Tools for XCode 11 from https://developer.apple.com/download/more/. Seems to work now, thanks!

[2019-09-25 01:42] rkadrian opened #19 "Crash on blob detection"
##### System information (version)
- trackR => 0.3.2
- Rvision => 0.3.6
- ROpenCVLite => 0.3.6
- devtools => 2.2.1
- shiny => 1.3.2
- Operating System / Platform => Mac OS Mojave
- R => 3.6.1
- CMake => 3.15.3

##### Detailed description

Hello again! I've managed to successfully load a video (in .m4v, converted from .avi), background, and mask, but trackR closes immediately upon clicking the "blo

[2019-09-25 02:59] #18 closed

[2019-09-25 13:15] sjmgarnier commented on #19
@rkadrian Could you please share the video with me so that I can try to reproduce the issue? Thanks.

[2019-09-26 01:14] rkadrian commented on #19
Attempted to send via email--let me know if it doesn't come through. Thanks!

[2019-09-26 03:33] rkadrian commented on #19
Fixed! Needed a background and the proper dimensions of mask image.

[2019-09-26 03:33] #19 closed

[2020-04-01 05:17] sgore25 opened #20 "Not able to run trackR()"
These are the specification of the system that I am using:

- Rvision => 0.1.1
- ROpenCVLite => 0.3.412.1
- devtools => 2.2.2
- shiny => 1.4.0.2
- Operating System / Platform => Mac OS Catalina
- R studio => 1.2.5019
- CMake => 3.15.5

When I try to run trackR(), a new window opens up but in that window, I get the following error.

**Warning: Error in container: unused arguments (id = outputId, cl

[2020-04-01 12:03] sjmgarnier commented on #20
@sgore25 First, it looks like you have a very old version of Rvision. I suggest you update it. Try also updating the following packages: shinyBS, shinyFiles, shinyjs. Also, what is your version of R?

[2020-04-01 16:53] sgore25 commented on #20
I tried after updating Rvision(now it is 0.3.6). Also updates shinyBS,shinyFiles and shinyjs but still have the same issue. My R version is 3.6.1

[2020-04-01 17:23] sjmgarnier commented on #20
@sgore25 Also, for good measure, you quit and restarted RStudio after all these updates? Just making sure there isn't an old version of one of the packages that was loaded in memory.

[2020-04-01 18:59] sgore25 commented on #20
Yes. I did restart R after all the updates.

[2020-04-01 23:00] sjmgarnier commented on #20
@sgore25 I can't reproduce the error here. Would you have some time this week for a quick video call? My guess is that you have somewhere an old version of a Shiny dependency but it's hard to know without having a look at your R installation.

[2020-04-01 23:09] sgore25 commented on #20
Sure. That works. Does Friday noon EDT work for you?

[2020-04-01 23:10] sjmgarnier commented on #20
@sgore25 No, I have a meeting then. But let's move this discussion to email: garnier@njit.edu.

[2020-04-01 23:18] sgore25 commented on #20
I have emailed you. Thank you.

[2020-06-06 00:22] dougmills opened #21 "Can't install Rvision"
Hi, I am unable to install Rvision.
I'm running the following:
- trackR => 0.3.2
- Rvision => 0.4.0
- ROpenCVLite => 0.4.43.0
- devtools => 2.3.0
- shiny => 1.2.0
- Operating System / Platform => 64 bit Win 10
- R => 3.6.0
- CMake => 3.17.3

OpenCV is installed but when I try to run trackR("Classic") or library(Rvision) the following message appears:

When I run:

 Rvision is downloaded with the f

[2020-06-06 00:30] sjmgarnier commented on #21
@dougmills There have been some changes to ROpenCVLite to make it CRAN-compatible and I haven't yet found the time to update the installation instructions of trackR. Here is what you need to do:

[code]

[2020-06-06 01:18] dougmills commented on #21
Thanks so much for the prompt reply.
After the OpenCV install I ran

`remotes::install_github("swarm-lab/Rvision")`

but got the same/similar output as before:

`ERROR: compilation failed for package 'Rvision'
* removing 'C:/Users/Doug/Documents/R/win-library/3.6/Rvision'
* restoring previous 'C:/Users/Doug/Documents/R/win-library/3.6/Rvision'
Error: Failed to install 'Rvision' from GitHub:
  (con

[2020-06-06 10:50] sjmgarnier commented on #21
@dougmills Windows is the bane of my programming life :-) What is the version of Rtools that you are using? It should be 3.5 for your version of R.

[2020-06-06 11:04] dougmills commented on #21
Hi Simon,
I gathered as much from previous posts. Sorry :)
Yes, RTools 3.5.
I had to revert back to 3.5 as I couldn't get OpenCV to install using RTools4.

[2020-06-06 14:37] sjmgarnier commented on #21
@dougmills Yes, that's because Rtools 4.x is for using with R 4.x, not R 3.x.

Can you try the following:

[code]

[2020-06-06 23:07] dougmills commented on #21
Thank you @sjmgarnier , that worked !

[2020-06-06 23:07] #21 closed

[2020-06-07 02:37] sjmgarnier commented on #21
@dougmills I also pushed the new version of ROpenCVLite to CRAN so that nobody runs into this issue again.

[2020-08-03 14:33] Sheethalvr commented on #4
This thread helped in fixing the error messages. But after finally being able to fix issues with ROpenCVLite and Rvision, it still spit out an error saying -
package ‘rlang’ successfully unpacked and MD5 sums checked
Error: (converted from warning) cannot remove prior installation of package ‘rlang’

I installed 'rlang' from the source (install.packages("rlang", type = "source") )and then ran -
de

[2020-08-03 15:01] Sheethalvr opened #22 "An example .csv file of the tracked video"
I have no issues with the installations. I was wondering if an example .csv file could be provided, listing all the parameters tracked from the video.

Cheers!!

[2020-08-04 11:26] Sheethalvr opened #23 "Problem in uploading video file and masking"
Hello,

I'm finding an issue when uploading the video in trackR. When I upload it, for some reason the frame that appears which shows the video this is rotated by 180 degree. Why does this happen?

Moreover, when I add a mask (the mask of the frame is also rotated since the video frame appears rotated) it doesn't impose on the video uploaded . I made the mask in gimp.

Any suggestions on how to pr

[2021-02-26 09:01] sjmgarnier commented on #22
@Sheethalvr Sorry for the late response. I couldn't work on this project for a while. A new version of the software is out and I update the documentation with a description of the output data here: https://swarm-lab.github.io/trackR/articles/z3_trackR.html#7-output-data

[2021-02-26 09:01] #22 closed

[2021-02-26 09:01] #20 closed

[2021-02-26 09:02] #10 closed

[2021-02-26 09:02] #2 closed

[2021-02-26 09:04] sjmgarnier commented on #4
@Sheethalvr This is a problem with the rlang package, not trackR. My guess is that rlang is loaded while you're trying to do the installation and therefore prevents R from updating it. I suggest restarting R and updating rlang before trying to install trackR again.

[2021-02-26 09:04] #4 closed

[2021-02-26 09:05] sjmgarnier commented on #23
@Sheethalvr Can you try with the new version of trackR? There have been so many changes since 0.4 that this problem might not exist anymore.

[2021-04-12 13:44] treesearcher opened #24 "Warning: Error in moduleUI: could not find function "moduleUI" message"
Hi,

Trying to get trackR up and running.  Had some issues with file paths early on (multi user computer) with RopenCVLite, but seem to have that sorted.

R 4.0.5
R studio 1.4.1106
Packages up to date

when I try to run trackR with the

trackR::trackR()  command,  It opens, but the screen is black, I get the following message,

Warning: Error in moduleUI: could not find function "moduleUI"
  82: v

[2021-04-12 13:51] sjmgarnier commented on #24
@treesearcher Did you load the library (`library(trackR)`) before launching the app?

[2021-04-12 13:52] treesearcher commented on #24
Hi!

Wow! quick feed back! thanks!
Yes, sorry forgot to mention it is loaded.

[2021-04-12 13:54] treesearcher commented on #24
AHHH NO! Soo sorry!

IT wasn't loaded!!!!

IT WORKS!

[2021-04-12 13:55] sjmgarnier commented on #24
@treesearcher Good, because I have zero time for fixing bugs at the moment :-)

[2021-04-12 13:56] #24 closed

[2021-04-13 04:23] treesearcher opened #25 "Crash on mask, does not create/can't find csv output"
Hi,
Sorry to bother again,

TrackR now opens no problem and I can move though vid upload, and background, as soon as I click on step 3 to mask (which I don't NEED to do), it crashes with following error

Listening on http://127.0.0.1:7350
Warning: Error in setTo: mask is not an 8U single-channel 'Image' object
  2: shiny::runApp
  1: trackR::trackR

 (just the windows close, and R studio still run

[2021-04-13 07:16] sjmgarnier commented on #25
@treesearcher Argh, yes, that's probably because you're using the very last version of Rvision. I haven't updated trackR to work with it yet. I just pushed a quick fix for the trackR app, you should be able to get it by reinstalling the trackR package. I will work on the other apps in the package as soon as I can.

[2021-04-13 13:18] treesearcher commented on #25
IT WORKS!!! ;)

Thanks!

[2021-04-13 13:18] #25 closed

[2021-04-21 10:57] Juchartr opened #26 "Error in display: unused argument (interp)"
Hello,

I've been using trackR for a while now, and today I can't use it. Each time I run the trackR() code or trackR(launch.browser = rstudioapi::viewer) the module appear then stop. I've got the following warning: Error in _display: unused argument (interp).
All packages are up to date, and trackR has been reinstalled. R is also up to date.

Any idea of what's wrong and how I can fix it ?

Thank

[2021-04-21 11:30] sjmgarnier commented on #26
@Juchartr Is this on a new install? Have you changed/updated anything since the last time it was working?

[2021-04-21 11:33] Juchartr commented on #26
I was having an issue with a video, so I uninstall it and reinstall it. When I did the new install, I also updated Rvision (because I couldn't install it without the update).

[2021-04-21 11:35] sjmgarnier commented on #26
@Juchartr Ok. Can I have the version number of R, Rvision, ROpenCVLite, and trackR installed on your machine? And for good measure, your operating system as well. I'll see if I can reproduce the bug here.

[2021-04-21 11:43] Juchartr commented on #26
R version 4.0.5
Rvision version 0.6.0
ROpenCVLite version 4.51.0
trackR version 0.5.1

I am working under Windows 10

[2021-04-22 07:34] sjmgarnier commented on #26
@Juchartr I'm afraid I can't reproduce the error on my Windows 10 install. Everything works as expected here. My hunch is that Rvision may have been loaded in R's memory when you updated the package and the links to the underlying compiled C++ code weren't updated. If that's the case, restarting R should do the trick.

[2021-04-23 08:16] Juchartr commented on #26
@sjmgarnier I uninstall everything and reinstall it, and it seems to work now. Thank you for trying to reproduce the error; it is appreciated.

[2021-04-23 08:16] #26 closed

[2021-08-11 07:28] rouninBZ opened #27 "Fail to select video file"
Hello,
I met this problem: fail to select video file. Here are the details.
(OS:Win10)
I clicked the button[select video file], and select the video. But nothing happened. It still reminded me of 'Video missing (and required)'
I tried on other PCs, they didn't show such problem.
Can you help me out?
![c47608acf2709e04798d5127d79b8c5](https://user-images.githubusercontent.com/82819108/128987767-1e0

[2021-12-08 14:49] serranito-bruno opened #28 "Hello,"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Computer (please complete the following information):**
 - Operating system: [e.g. MacOS]
 - Version [e.g. 11

[2021-12-08 15:48] serranito-bruno opened #29 "Issue with the trackPlayer function"
Hello,
I really want to thank you for your work.
I am currently working with TrackR and it works quite well.
However when I want to click on "export" using the trackPlayer function, the window closes and a warning message appears in the console:
Warning: Error in new_CppObject_xp: Unable to open output.
  [No stack trace available]

Although my R session still seems to be processing, nothing else

[2021-12-09 16:37] serranito-bruno commented on #29
Update -
I finally manage to fix this issue. It was caused by an out dated version of the codex 'OpenH254' used by OpenCV.
The thread can now be closed.

[2021-12-09 16:37] #29 closed

[2022-03-15 19:52] yohann-chemtob opened #30 "Crash with Minimum density"
**Describe the bug**
In the separation module, for the minimum density parameter, when trying to enter a value like 0.5, trackR crash at "0."

**To Reproduce**
Enter 0. as a minimum density value and enjoy

**Expected behavior**
Not to crash or a error message in the app if the value is not recognise

**Computer (please complete the following information):**
 - Operating system: Windows 10

**R (p

[2022-03-15 20:40] #30 closed

[2022-06-07 06:16] Juchartr commented on #11
Hi,

I manage to have the same problem!

Warning: Error in container: could not find function "container"
  92: htmlOutput
  84: moduleUI
  70: ui [C:\Users\juu19\AppData\Local\R\win-library\4.2\trackR\trackR/app.R#12]

trackR => v0.5.1
Rvision => v0.6.1
ROpenCVLite => v4.55.2
devtools => v2.4.3
shiny => v1.7.1
Operating System / Platform => windows 11
R => v4.2.0
CMake => v3.22.3

This error is o

[2022-06-07 07:34] sjmgarnier commented on #11
@Juchartr When did you install trackR? Today?

[2022-06-07 08:31] Juchartr commented on #11
I had it for months and everything was good. I uninstalled it and install it again yesterday

[2022-06-07 08:42] Juchartr commented on #11
Yes

[2022-06-07 08:51] sjmgarnier commented on #11
@Juchartr Strange. I can't reproduce the error on any of my machines, including a Windows one with a fresh install. Are your environment clean and only the base packages loaded at startup?

[2022-06-07 11:00] sjmgarnier commented on #11
@Juchartr No problem. I'm glad it's working again.

[2022-07-18 18:17] Toshea111 commented on #29
Hello,

I am experiencing the same issue, are you able to detail the process for updating the codex?

Best wishes,

Thomas

[2022-07-19 14:44] Toshea111 opened #31 "trackPlayer Export Issue"
**Describe the bug**
When attempting to export a tracked video in trackPlayer, I am met with the following error message:

Failed to load OpenH264 library: openh264-1.8.0-win64.dll
	Please check environment and/or download library: https://github.com/cisco/openh264/releases

[libopenh264 @ 0000020b72c9e2c0] Incorrect library version loaded
[ERROR:0@14.555] global /build/opencv/modules/videoio/src/

[2022-07-19 14:59] sjmgarnier commented on #31
@Toshea111 I cannot test with Windows 7 so I can't reproduce the bug. It looks like an issue with ffmpeg. What's the version of ROpenCVLite on your system?

I suggest that you start by upgrading ffmpeg to its latest version on your system. Then recompile OpenCV with `ROpenCVLite::installOpenCV()` (say yes when prompted) and reinstall Rvision (`remotes::install_github("swarm-lab/Rvision", force = T

[2022-07-20 14:13] Toshea111 commented on #31
I am using ROpenCVLite 4.60.02, and have now upgraded ffmpeg to version 5.0. I was able to successfully recompile OpenCV and Rvision, however upon attempting to reinstall trackR, I received the following error message:

Downloading GitHub repo swarm-lab/trackR@HEAD
Error in utils::download.file(url, path, method = method, quiet = quiet,  :
  download from 'https://api.github.com/repos/swarm-lab/tr

[2022-07-20 14:29] sjmgarnier commented on #31
@Toshea111 It looks like the download of the package from Github is timing out (slow internet?). You can increase the time out time by setting `options(timeout=120)` (for 120 seconds; increase the number as needed).

FYI, this is a problem that is not related to the original question. It is better to create a separate issue for each problem/question to help future users find answers if they run in

[2022-07-21 10:12] Toshea111 commented on #31
Thank you, that solved the download issue, however upon trying to export the tracked video, I again encountered this error:

[libopenh264 @ 00000136c8849800] Incorrect library version loaded
[ERROR:0@47.568] global /build/opencv/modules/videoio/src/cap_ffmpeg_impl.hpp (2985) open Could not open codec libopenh264, error: Unspecified error (-22)
[ERROR:0@47.568] global /build/opencv/modules/videoio/

[2022-07-21 10:45] sjmgarnier commented on #31
@Toshea111 It looks like you're missing the OpenH264 codec in your ffmpeg installation. I'm not sure how to resolve that on Windows 7 but if you figure it out, you may need to recompile OpenCV (`ROpenCVLite::installOpenCV()`) to make it available to trackR.

Another option (until I can find the time to code a more comprehensive fix) is to modify:

[code]

in https://github.com/swarm-lab/trackR/blo

[2022-07-21 17:49] Toshea111 commented on #31
Thank you, that fixed the issue. For future reference, I did the following:

Opened the folder:

trackR\modules\trackPlayer

Opened the file:

playServer

Made the modification:

`vw <- videoWriter(theTrackVideoPath(),
                               fourcc = "FMP4",
                               fps = theVideo()$fps(),
                               height = theVideo()$nrow(),

[2022-07-21 17:49] #31 closed

[2022-07-22 06:35] sjmgarnier commented on #31
@Toshea111 Thanks for the walkthrough. If I can find the time, I'll try to implement a solution to automatically select the "best" available codec on a user's machine, but that might not be before several weeks (months?).